<div class="screen-content">
	{{message}}
	<br/><span class="dollar-note" ng-show="showInput">{{message3}}</span>
	<input class="input-box" type="text" ng-model="amount" ng-keyup="setEnteredValue()" ng-show="showInput">
	<br/><span class="balance-note">{{message2}}</span>
</div>
<ul class="right-buttons text-for-buttons">
	<li id="text-r1"></li>
	<li id="text-r2"></li>
	<li id="text-r3"><div class="screen-text"><span style="margin: 2px 0 0 60px; display: block;">Back</span><div class="line-right white"></div></div></li>
	<li id="text-r4"><div class="screen-text"><span style="margin: 2px 0 0 -35px; display: block;">Make Withdrawal</span><div class="line-right white"></div></div></li>
</ul>